.container {
    display: flex;
    flex-direction: column;
    margin-left: 4em;
}

.item {

    flex: 1;
}

@media only screen and (min-width: 600px){
    .container {
        flex-direction: row;
    }
}