@font-face {
    font-family: "Aldrich";
    src: url("../fonts/Aldrich-Regular.ttf"); format:("ttf");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "Amethysta";
    src: url("https://fonts.google.com/specimen/Amethysta"); format:("ttf");
    font-style: normal;
    font-weight: normal;
}

 /* GLOBAL FONT SIZES */
 @media (max-width: 600px) {
    h1 {font-size: 32px;}
    h2 {font-size: 22px;}
    h3 {font-size: 20px;}
    p {font-size: 20px;}
 }

@media (min-width: 600px) and (max-width: 1000px) {
    h1 {font-size: 40px;}
    h2 {font-size: 25px;}
    h3 {font-size: 22px;}
    p {font-size: 20px;}
}

@media (min-width: 1000px) {
    h1 {font-size: 45px;}
    h2 {font-size: 30px;}
    h3 {font-size: 25px;}
    p {font-size: 20px;}
}

/* Global CSS STYLES */
header,
footer {
    background-color: rgb(187, 92, 89);
    padding-top: 1em;
}

nav a:hover,
a.button:hover {
    color: rgba(27, 32, 61);
}


body {
    background: url("../images/galaxy.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position-x: center;
    font-family: "Aldrich", Verdana, sans-serif;
    margin: 0px;
    color:#fff;
}

/* INDEX STYLES */
a.button {
    font-family: "Aldrich", Verdana, sans-serif;
    text-transform: uppercase;
    background-color: rgb(252, 170, 103);
    color: #000;
    text-decoration: none;
    border: 1em solid rgb(252, 170, 103);
    border-radius: 1em;
    max-height: 20px;
    font-size: 16px;
    align-self: center;
}

.gamelist img {
    height: auto;
    max-width: 90%;
    display: block;
    margin: 1em auto 1em auto;
}

.trending,
.title {
    text-align: center;
    text-transform: uppercase;
}

.price {
    display: flex;
    column-gap: 3em;
    padding-bottom: 1em;
    place-content: center;
}

.gowcontainer {
    margin-top: 3em;
    position: relative;
    justify-content: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

.gow-button {
    position: absolute;
    text-align: center;
    background-color: rgba(27, 32, 61);
    padding: 1em;
    text-transform: uppercase;
}

.gowcontainer img {
    height: auto;
    max-width: 90%;
    display: block;
    margin: 1em auto 1em auto;
    object-fit: cover;
    width: 1240px;
    height: 328px;
}

.gow-button {
    top: 200px;
    right: 55px;
}

    /* INDEX MOBILE STYLES */
@media (max-width: 600px) {
    .gamelist {
        display: flex;
        flex-direction: column;
    }

    .blackbg {
        background-color: rgb(00,00,00,0.5);
        margin: 0px 10%;
        border-radius: 0.7;
    }

    .gow-button {
        top: 220px;
        left: 85px;
    }
}

    /* INDEX TABLET STYLES */
@media (min-width:600px) and (max-width:1000px) {
    nav li a {
        font-size: 35px;
    }

    .gamelist {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, 1fr auto);
        background-color: rgb(00,00,00,0.5);
        grid-row-gap: 1em;
        margin: 0px 10%;
        border-radius: 0.7;
    }

    .price-a {
        grid-column: 1 / 2;
        grid-row: 2 / 3;
    }

    .price-b {
        grid-column: 1 / 2;
        grid-row: 4 / 5;
    }

    .price-c {
        grid-column: 1 / 2;
        grid-row: 6 / 7;
    }

    .gow {
        width: 100%;
        object-position: top;
    }
}

    /* INDEX DESKTOP STYLES */
@media (min-width:1000px) {
    .gamelist {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, 1fr auto);
        background-color: rgb(00,00,00,0.5);
        margin: 0px 5%;
        border-radius: 0.7;
    }

    .game-a {
        grid-column: 3 / 4;
        grid-row: 1 / 2;
    }

    .game-b {
        grid-column: 2 / 3;
        grid-row: 3 / 4;
    }
    
    .game-c {
        grid-column: 3 / 4;
        grid-row: 3 / 4;
    }

    .price-a {
        grid-column: 1 / 2;
        grid-row: 2 / 3;
    }

    .price-b {
        grid-column: 3 / 4;
        grid-row: 2/ 3;
    }

    .price-c {
        grid-column: 2/ 3;
        grid-row: 4 / 5;
    }

    .price {
        column-gap: 1.9em;
    }

    .gow {
        object-fit: cover;
        width: 1720px;
 }
}

.logo {
    max-width: 245px;
    max-height: 136px;
    margin-top: 1em;
    margin-left: 4em;
}

@media (max-width:1000px) {
    .logo {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
}

.whitetext {
    color: #fff;
}

.form__input {
    display: block;
}


.game-cover {
    max-width: 216px;
    max-height: auto;
}

/* FORGE LEGEND STYLES*/
.forge-legend img {
    height: auto;
    max-width: 90%;
    display: block;
    margin: 1em auto 1em auto;
}

.fl-title h1,
.description p {
    margin: 1em;
    line-height: 1.3;
}

.euro {
    text-align: center;
    font-size: 45px;
    margin-bottom: 0px;
}

button {
    font-family: "Aldrich", Verdana, Geneva, Tahoma, sans-serif;
    background-color: rgb(252, 170, 103);
    border-radius: 1em;
    text-transform: uppercase;
    padding: 0.7em;
    display: block;
    margin: 5px auto 2em auto;
}

.bg {
    background-color: rgb(00,00,00,0.6);
    padding: 0.2em 0px;
    margin: 0x 1em;
}

    /* FORGE LEGEND MOBILE STYLES */
@media (max-width: 600px) {
    footer p {
        font-size: 12px;
    }
}

    /* FORGE LEGEND TABLET STYLES */ 
@media (min-width:600px) and (max-width:1200px) {
    .fl-title h1,
    p {
        margin: 5%;
        line-height: 1.5;
    }

    button {
        padding: 1em;
        margin-bottom: 2em;
        font-size: 18px;
    }
}

    /* FORGE LEGEND DESKTOP STYLES */
@media (min-width:1200px) {
    .desktop-fl {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    .forge-legend img {
        margin: 5%;
    }

    .fl-title h1 {
        margin-top: 4em;
    }

    .fl-title h1,
    p {
        margin-left: 10%;
        margin-right: 10%;
        line-height: 1.5;
    }

    .euro {
        margin-top: 1em;
        margin-bottom: 2em;
        text-align: left;
    }

    button {
        margin-bottom: 3em;
    }
}

/* FOOTER STYLES */
footer {
    display: grid;
    grid-template-areas: 
    "text . socials"
    "text . payments";
    grid-row-gap: 1em;
    color: white;
    font-family: "Aldrich", Verdana, sans-serif;
    margin-top: 3em;
}

.socials {
    justify-self: center;
    grid-area: socials;
    display: flex;
    margin-left: 1.5em;
    margin-right: 10%;
    margin-top: 1em;
}


.payments {
    justify-self: center;
    grid-area: payments;
    display: flex;
    justify-content: space-between;
    margin-bottom: 2em;
}

.text h3 {
    margin-left: 5%;
}

.text {
    grid-area: text;
    margin-left: 6%;
}

.payments i,
.socials i {
    padding: 13px;
}

    /* FOOTER TABLET STYLES */
@media (min-width:600px) and (max-width:1200px) {
    
    .text p {
        font-size: 18px;
    }

    .payments i,
    .socials i {
        padding: 20px;
    }

    .payments {
        font-size: 1.7em;
        margin-right: 10%;
    }
}

    /* FOOTER DESKTOP STYLES */
@media (min-width:1200px) {
    .socials i {
        font-size: 1.5em;
    }

    .payments {
        font-size: 1.9em;
    }
}

@media (max-width:360px) {
    .payments i,
    .socials i {
        padding: 2px;
    }

    .socials p {
        font-size: 10px;
    }
}

/* HEADER STYLES */
@media (max-width:600px) {
    nav li a {
        font-size: 24px;
    }

}
@media (min-width:1000px) {
    header {
        display: flex;
        position: relative;
    }
    
    nav {
        position: absolute;
        top: 30%;
        left: 25%;
    }

    nav ul li {
        display: inline-block;
        padding: 1em;
    }
    
    nav li a {
        font-size: 30px;
    }

    .shopping-cart a {
        position: absolute;
        top: 50%;
        right: 10%;
        color: #fff;
        margin-left: auto;
    }

    .shopping-cart a:hover {
        color: rgba(27, 32, 61);
    }

    .nav-cart{
        visibility: hidden;
    }
}

    /* NAV STYLES */
nav li a {
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;
}

    /* NAV HAMBURGER MENU STYLES */
    /* Associated HTML and CSS by: Dan Powell at "https://codepen.io/bloom-dan/pen/vKdoaM" 12/04/23 */
 input[type=checkbox] {
    display: none;
  }
  
 @media (max-width:1000px) {
 a{
    cursor: pointer;
  }
  
  nav ul {
    max-height: 0px;
    padding-right: 40px;
    overflow: hidden;
    list-style: none;
    transition: all 1s cubic-bezier(.325, 1, .22, 1);
  }
  
  nav li {
    color: #fff;
    display: flex;
    justify-content: center;
  }
  
  nav li:last-of-type {
    margin-bottom: .625rem;
  }
  
  nav li a {
    font-family: "Aldrich", Verdana, sans-serif;
    padding: 8px;
  }
  
  input[type=checkbox]:checked ~ nav ul {
    height: auto;
    max-height: 20rem;
    transition: all 1s cubic-bezier(.5, 1, .22, 1);
  }
  
  .hamburger {
    display: block;
    position: absolute;
    top: 18px;
    right: 13px;
    height: 27px;
    width: 27px;
    cursor: pointer;
    transition: all 1s cubic-bezier(.19, 1, .22, 1);
  }
  
  .line {
    position: absolute;
    display: block;
    background: #fff;
    width: 18px;
    height: .15rem;
    border-radius: .2rem;
    left: 0;
    transition: all .6s cubic-bezier(.5, .1, 0, 1.2);
  }
  
  .line-1 {
    top: 0;
  }
  
  .line-2 {
    top: 7px;
    width: 14px;
    transform: translateX(2px);
    -webkit-transform: translateX(2px);
  }
  
  .line-3 {
    top: 14px;
  }
  
  input[type=checkbox]:checked ~ label .line-1 {
    top: 0px;
    width: 22px;
    transform: translateX(-11px) rotate(-45deg) translateY(12px);
  }
  
  input[type=checkbox]:checked ~ label .line-2 {
    opacity: 0;
  }
  
  input[type=checkbox]:checked ~ label .line-3 {
    top: 14px;
    width: 22px;
    transform: translateX(-8px) rotate(45deg) translateY(-8px);
  }

  .shopping-cart a {
    visibility: hidden;
  }
}

/* GAMES STYLES */
.new,
.best,
.games-title h1 {
    text-transform: uppercase;
    text-decoration: underline;
    text-underline-offset: 20px;
    display: flex;
    flex-direction: column;
}

.games-title h1 {
    font-size: 40px;
    margin-left: 3.5em;
}

.new img,
.best img {
    max-width: 100%;
}

.genre-button {
    font-family: "Aldrich", Verdana, sans-serif;
    text-transform: uppercase;
    background-color: rgb(187, 92, 89);
    text-decoration: none;
    border: 2em solid rgb(187, 92, 89);
    border-radius: 0.75em;
    text-align: center;
    font-size: 1em;
}

.genre-button:hover {
    border-color: rgb(167, 63, 60);
    background-color: rgb(167, 63, 60);
}

.genre {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-gap: 5px;
    margin: 0em 1em;
}

.genre-2 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, auto);
    margin: 0em 1em;
    grid-gap: 5px;
}

    /* GAMES MOBILE STYLES*/
@media (max-width: 600px) {
    .games-title h1 {
        text-align: center;
    }

    .new img,
    .best img {
    width: 80%;
}
}

    /* GAMES TABLET STYLES */
@media (min-width: 600px) and (max-width: 1000px) {
    .games-title h1 {
        text-align: center;
    }

    .new {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, 1fr);
        max-width: 100%;
        margin: 0em 1em 1em;
    }

    .best {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, 1fr);
        max-width: 100%;
        margin: 0em 1em 2em;
    }

    .new img,
    .best img {
        max-width: 70%;
    }

    .genre {
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, 1fr);
        grid-gap: 5px;
    }

    .genre-2 {
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, 1fr);
        grid-gap: 5px;
    }
}

    /* GAMES DESKTOP STYLES */
 @media (min-width: 1000px) {
    .new,
    .best {
        flex-direction: row;
        grid-gap: 10px;
        justify-content: space-between;
        margin: 2em 10%;
    }

    .genre,
    .genre-2 {
        grid-template-columns: repeat(6, 1fr);
        grid-template-rows: 1fr;
        grid-gap: 5px;
        margin: 0em 10%;
    }
 }

 /* ABOUT STYLES */
 .about {
    margin: 5% 5%;
    background-color: rgba(27, 32, 61, 0.9);
    padding: 2em 2em;
    border-radius: 4em;
    line-height: 1.5;
 }

 .about h1 {
    justify-self: center;
    margin-left: 2em;
 }

 @media (min-width: 1000px) {
    .about{
        padding-top: 3%;
        padding-bottom: 5%;
    }
 }

 /* CONTACT STYLES */
.contact {
    background-color: rgba(27, 32, 61, 0.8);
    margin-top: 2em;
    padding-top: 1em;
    padding-bottom: 2em;
}

 .contact-info {
    place-content: center;
    text-align: center;
}

.contact-form h2 {
    text-align: center;
}

fieldset {
    background-color: rgb(187, 92, 89);
    border-color: rgba(27, 32, 61, 0.8);
    border-radius: 2em;
    margin: 2em 5%;
}

.form-1,
.form-2 {
    padding: 10px;
    width: 80%;
}

.form-3 {
    padding: 10px 0px 40px 10px;
    width: 82%;
}

.form-1,
.form-2,
.form-3 {
    margin-bottom: 2em;
    margin-left: 1em;
    border-radius: 0.5em;
    font-family: "Amethysta", Verdana, sans-serif;
}

.contact-submit {
    font-size: 25px;
    margin-bottom: 1em;
}

.contact-form label {
    margin-left: 1em;
}

@media (min-width: 1000px) {
    .contact {
        display: flex;
    }

    .contact-info {
        margin: 4em 16em 4em 10em;
    }
}

/* MY CART STYLES */
.progress-bar {
    display: flex;
    text-align: center;
    justify-content: space-evenly;
}

.progress-1 {
    background-color: rgb(187, 92, 89);
    padding: 20px 34.93px;
}

.progress-2 {
    background-color: rgba(27, 32, 61);
    padding: 20px 29.49px;
}

.progress-3 {
    background-color: rgba(27, 32, 61);
    padding: 20px 30px;
}

    /* MY CART TABLET STYLES */
@media (min-width: 600px) and (max-width: 1000px) {

}

.cart-items {
    background-color: rgb(187, 92, 89);
    padding: 1em;
    border-radius: 2em;
    text-transform: uppercase;
}

.cart-items h1 {
    margin-left: 1em;
}

.cart-items img {
    height: auto;
    width: 107px;
}