@font-face {
    font-family: "Aldrich";
    src: url("../fonts/Aldrich-Regular.ttf"); format:("ttf");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "Amethysta";
    src: url("https://fonts.google.com/specimen/Amethysta"); format:("ttf");
    font-style: normal;
    font-weight: normal;
}

 /* Global stuff */
 @media (max-width: 600px) {
    h1 {font-size: 32px;}
    h2 {font-size: 22px;}
    h3 {font-size: 20px;}
    p {font-size: 20px;}
 }

@media (min-width: 600px) and (max-width: 1000px) {
    h1 {font-size: 40px;}
    h2 {font-size: 25px;}
    h3 {font-size: 22px;}
    p {font-size: 20px;}
}

@media (min-width: 1000px) {
    h1 {font-size: 45px;}
    h2 {font-size: 30px;}
    h3 {font-size: 25px;}
    p {font-size: 20px;}
}

/* Global CSS */
header,
footer {
    background-color: rgb(187, 92, 89);
    padding-top: 1em;
}

nav a:hover,
a.button:hover {
    color: rgba(27, 32, 61);
}


body {
    background: url("../images/galaxy.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position-x: center;
    font-family: "Aldrich", Verdana, sans-serif;
    margin: 0px;
    color:#fff;
}

/* index page */
a.button {
    font-family: "Aldrich", Verdana, sans-serif;
    text-transform: uppercase;
    background-color: rgb(252, 170, 103);
    color: #000;
    text-decoration: none;
    border: 1em solid rgb(252, 170, 103);
    border-radius: 1em;
    max-height: 20px;
    font-size: 16px;
    align-self: center;
}

.trending,
.title {
    text-align: center;
    text-transform: uppercase;
}

.price {
    display: flex;
    column-gap: 3em;
    padding-bottom: 1em;
    place-content: center;
}

.gowcontainer {
    margin-top: 3em;
    position: relative;
    justify-content: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

.gow-button {
    position: absolute;
    text-align: center;
    background-color: rgba(27, 32, 61);
    padding: 1em;
    text-transform: uppercase;
}

.gow {
    object-fit: cover;
    width: 1240px;
    height: 328px;
}

.gow-button {
    top: 200px;
    right: 55px;
}

    /* index mobile */
@media (max-width: 600px) {
    .gamelist {
        display: flex;
        flex-direction: column;
    }

    .blackbg {
        background-color: rgb(00,00,00,0.5);
        margin: 0px 10%;
        border-radius: 0.7;
    }

    .gow-button {
        top: 220px;
        left: 85px;
    }
}

    /* index tablet */
@media (min-width:600px) and (max-width:1000px) {
    nav li a {
        font-size: 35px;
    }

    .gamelist {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, 1fr auto);
        background-color: rgb(00,00,00,0.5);
        grid-row-gap: 1em;
        margin: 0px 10%;
        border-radius: 0.7;
    }

    .price-a {
        grid-column: 1 / 2;
        grid-row: 2 / 3;
    }

    .price-b {
        grid-column: 1 / 2;
        grid-row: 4 / 5;
    }

    .price-c {
        grid-column: 1 / 2;
        grid-row: 6 / 7;
    }

    .gow {
        width: 100%;
        object-position: top;
    }
}

    /* index desktop */
@media (min-width:1000px) {
    .gamelist {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, 1fr auto);
        background-color: rgb(00,00,00,0.5);
        margin: 0px 5%;
        border-radius: 0.7;
    }

    .game-a {
        grid-column: 3 / 4;
        grid-row: 1 / 2;
    }

    .game-b {
        grid-column: 2 / 3;
        grid-row: 3 / 4;
    }
    
    .game-c {
        grid-column: 3 / 4;
        grid-row: 3 / 4;
    }

    .price-a {
        grid-column: 1 / 2;
        grid-row: 2 / 3;
    }

    .price-b {
        grid-column: 3 / 4;
        grid-row: 2/ 3;
    }

    .price-c {
        grid-column: 2/ 3;
        grid-row: 4 / 5;
    }

    .price {
        column-gap: 1.9em;
    }

    .gow {
        object-fit: cover;
        width: 1720px;
 }
}
.logo {
    max-width: 245px;
    max-height: 136px;
    margin-top: 1em;
    margin-left: 4em;
}

@media (max-width:1000px) {
    .logo {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
}

.whitetext {
    color: #fff;
}

.form__input {
    display: block;
}


.game-cover {
    max-width: 216px;
    max-height: auto;
}

/* Forge Legend product */
    /* All Devices */
    img {
        height: auto;
        max-width: 90%;
        display: block;
        margin: 1em auto 1em auto;
    }

    h1,
    .description p {
        margin: 1em;
        line-height: 1.3;
    }

    .euro {
        text-align: center;
        font-size: 45px;
        margin-bottom: 0px;
    }

    button {
        font-family: "Aldrich", Verdana, Geneva, Tahoma, sans-serif;
        background-color: rgb(252, 170, 103);
        border-radius: 1em;
        text-transform: uppercase;
        padding: 0.7em;
        display: block;
        margin: 5px auto 2em auto;
    }

    .bg {
        background-color: rgb(00,00,00,0.6);
        padding: 0.2em 0px;
        margin: 0x 1em;
    }

    /* Mobile FL */
@media (max-width: 600px) {
    footer p {
        font-size: 12px;
    }
}

    /* Tablet FL */ 
@media (min-width:600px) and (max-width:1200px) {
    h1,
    p {
        margin: 5%;
        line-height: 1.5;
    }

    button {
        padding: 1em;
        margin-bottom: 2em;
        font-size: 18px;
    }
}

    /* Desktop FL */
@media (min-width:1200px) {
    .desktop-fl {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    .forge-legend img {
        margin: 5%;
    }

    .fl-title h1 {
        margin-top: 4em;
    }

    h1,
    p {
        margin-left: 10%;
        margin-right: 10%;
        line-height: 1.5;
    }

    .euro {
        margin-top: 1em;
        margin-bottom: 2em;
        text-align: left;
    }

    button {
        margin-bottom: 3em;
    }
}






/* FOOTER STYLING */
footer {
    display: grid;
    grid-template-areas: 
    "text . socials"
    "text . payments";
    grid-row-gap: 1em;
    color: white;
    font-family: "Aldrich", Verdana, sans-serif;
    margin-top: 3em;
}

.socials {
    justify-self: center;
    grid-area: socials;
    display: flex;
    margin-left: 1.5em;
    margin-right: 10%;
    margin-top: 1em;
}


.payments {
    justify-self: center;
    grid-area: payments;
    display: flex;
    justify-content: space-between;
    margin-bottom: 2em;
}

.text h3 {
    margin-left: 5%;
}

.text {
    grid-area: text;
    margin-left: 6%;
}

.payments i,
.socials i {
    padding: 13px;
}

    /* footer tablet */
@media (min-width:600px) and (max-width:1200px) {
    
    .text p {
        font-size: 18px;
    }

    .payments i,
    .socials i {
        padding: 20px;
    }

    .payments {
        font-size: 1.7em;
        margin-right: 10%;
    }
}

    /* footer desktop */
@media (min-width:1200px) {
    .socials i {
        font-size: 1.5em;
    }

    .payments {
        font-size: 1.9em;
    }
}

@media (max-width:360px) {
    .payments i,
    .socials i {
        padding: 2px;
    }

    .socials p {
        font-size: 10px;
    }
}

/* HEADER STYLING */
@media (max-width:600px) {
    nav li a {
        font-size: 24px;
    }

}
@media (min-width:1000px) {
    header {
        display: flex;
        position: relative;
    }
    
    nav {
        position: absolute;
        top: 30%;
        left: 25%;
    }

    nav ul li {
        display: inline-block;
        padding: 1em;
    }
    
    nav li a {
        font-size: 30px;
    }

    .shopping-cart a {
        position: absolute;
        top: 50%;
        right: 10%;
        color: #fff;
        margin-left: auto;
    }

    .shopping-cart a:hover {
        color: rgba(27, 32, 61);
    }

    .nav-cart{
        visibility: hidden;
    }
}

    /* nav */
nav li a {
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;
}

    /* hamburger menu nav */
    /* Associated HTML and CSS by: Dan Powell at "https://codepen.io/bloom-dan/pen/vKdoaM" 12/04/23 */
 input[type=checkbox] {
    display: none;
  }
  
 @media (max-width:1000px) {
 a{
    cursor: pointer;
  }
  
  nav ul {
    max-height: 0px;
    padding-right: 40px;
    overflow: hidden;
    list-style: none;
    transition: all 1s cubic-bezier(.325, 1, .22, 1);
  }
  
  nav li {
    color: #fff;
    display: flex;
    justify-content: center;
  }
  
  nav li:last-of-type {
    margin-bottom: .625rem;
  }
  
  nav li a {
    font-family: "Aldrich", Verdana, sans-serif;
    padding: 8px;
  }
  
  input[type=checkbox]:checked ~ nav ul {
    height: auto;
    max-height: 20rem;
    transition: all 1s cubic-bezier(.5, 1, .22, 1);
  }
  
  .hamburger {
    display: block;
    position: absolute;
    top: 18px;
    right: 13px;
    height: 27px;
    width: 27px;
    cursor: pointer;
    transition: all 1s cubic-bezier(.19, 1, .22, 1);
  }
  
  .line {
    position: absolute;
    display: block;
    background: #fff;
    width: 18px;
    height: .15rem;
    border-radius: .2rem;
    left: 0;
    transition: all .6s cubic-bezier(.5, .1, 0, 1.2);
  }
  
  .line-1 {
    top: 0;
  }
  
  .line-2 {
    top: 7px;
    width: 14px;
    transform: translateX(2px);
    -webkit-transform: translateX(2px);
  }
  
  .line-3 {
    top: 14px;
  }
  
  input[type=checkbox]:checked ~ label .line-1 {
    top: 0px;
    width: 22px;
    transform: translateX(-11px) rotate(-45deg) translateY(12px);
  }
  
  input[type=checkbox]:checked ~ label .line-2 {
    opacity: 0;
  }
  
  input[type=checkbox]:checked ~ label .line-3 {
    top: 14px;
    width: 22px;
    transform: translateX(-8px) rotate(45deg) translateY(-8px);
  }

  .shopping-cart a {
    visibility: hidden;
  }
}
