@font-face {
    font-family: "Aldrich";
    src: url("../fonts/Aldrich-Regular.ttf"); format:("ttf");
    font-style: normal;
    font-weight: normal;
}

header,
footer {
    background-color: rgb(187, 92, 89);
}

header a {
    padding: 10px
}

body {
    background-color: rgba(27, 32, 61, 70);
    background-image: url("../images/galaxy.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position-x: center;
    font-family: "Aldrich", Verdana, sans-serif;
}

nav li {
    display: inline-block;
} 

nav li a {
    text-decoration: none;
    font-size: 24px;
    color: #fff;
    text-transform: uppercase;  
}

h2 {
    color: #fff;
    font-size: 32px;
    text-transform: uppercase;
}

a.button {
    font-family: "Aldrich", Verdana, sans-serif;
    text-transform: uppercase;
    background-color: rgb(252, 170, 103);
    color: #000;
    text-decoration: none;
    border: 1em solid rgb(252, 170, 103);
    border-radius: 1em;
}

nav a:hover {
    text-decoration: underline;
}

.title {
    text-transform: uppercase;
    color: #fff;
    font-size: 16px
}

.logo {
    max-width: 245px;
    max-height: 136px;
}

.gow {
    max-width: 80%; 
}

section{
    margin: 3em 0;
}

.subhead {
    max-width: 100%;
    background-image: url("../images/snowy\ landscape.jpg");
    background-repeat: no-repeat;
}

.whitetext {
    color: #fff;
}

.form__input {
    display: block;
}

label {
    color:#fff
}

@media (min-width: 600px) {
    nav {
        display: inline-block;
        position: static;
    }
}

.gamedisplay {
    display: inline-block;

}

.game-cover {
    max-width: 190px;
    max-width: 216px;
}

footer div {
    display: inline-block;
    padding: 0em 4em
}

.left-padding {
    padding-left: 4em;
    padding-right: 4em;
}